body {
    font-family: "Sono", "Kosugi Maru", sans-serif;
    font-size: var(--clampText);
    color: #333;
    text-shadow: var(--textShadowWhite);
    padding-inline: 0.5rem;
    background-color: whitesmoke;
}

header {
    padding: 1rem;
}

header h1 {
    font-size: 1.25rem;
    text-align: center;
}

.headerBox {
    width: fit-content;
    margin-inline: auto;
    padding: 1rem;
    background-color: lightgray;
    border-radius: 0.875rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.headerBox li {
    font-size: 12px;
}

/*  */
.appWrapper {
    max-width: 400px;
    margin-inline: auto;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
}

.timeMassage {
    text-align: center;
}

#clock {
    font-size: 3rem;
}

.timer {
    text-align: center;
}

#clock {
    font-size: 2rem;
    font-family: "Chivo Mono", monospace;
    padding: 1rem;
    border-radius: 5px;
    position: relative;
    transition: all 0.5s;
}

#chime_button {
    display: block;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #333;
    color: white;
    transition: all 0.3s linear;
}

#chime_button:hover {
    background-color: #be3455;
}

#chime_button.active {
    background-color: #be3455;
    transition: all 0.3s linear;
    font-size: 0.7rem;
    padding: 0.5rem;
}

footer {
    margin-top: 2rem;
}

footer p {
    text-align: center;
}

footer a {
    font-size: 12px;
    color: dimgrey;
    text-decoration: underline;
}
